*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    background-color: lightseagreen;
    position: sticky;
    top:0;
    padding: 15px;
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    border-radius: 10px;
    padding:10px;
    color:white
}

section{
    background-color: cadetblue;
    border-radius:10px;
    padding:30px;
    margin-bottom:30px;
    text-align: center;
    color:white;
    justify-content: center;
    align-items: center;
}


.intro{
    background-color: cadetblue;
    color:white;
    padding:30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.intro a{
    color:white; text-decoration: none;
    align-items: center; 
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding:7px; 
    margin:10px; 
    background-color: cadetblue;
}

footer{
    text-align: center;
    background-color: cadetblue;
    padding: 15px;
    color:white;
}

.container{
    max-width: 1000px;
    margin:auto;
    padding:40px
}

.about-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
  gap: 20px;          
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  object-fit: cover;    
}


.subheadings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
}

.showmore{
  background-color: teal; 
  color: white; 
  border: none; 
  padding: 8px; 
  border-radius: 8px; 
  cursor: pointer;
}

.showDiv{
  display: none; 
  margin-top: 10px; 
  background-color: #2f8585; 
  color: white; 
  padding: 10px; 
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .about-flex {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .subheadings {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

