#results{ 
    display:flex; 
    flex-direction:row; 
    flex:1 1 100%;
    flex-wrap:nowrap;
    justify-content:center; 
    width:100%;
    height:90%;
    background:#7CB9E4; 
    color:white;
    transition: ease-out 0.75s;
    }

#results:hover{
    transform: scale(1.01);
    background-color: skyblue;
    box-shadow: inset 2500px 0 0 0 rgb(76, 138, 162);
} 



button{
  justify-content:center; 
  background:#7CB9E4; 
  color:white;
  align-items: center;
  border: lightblue;
  border-radius: 20px;
  padding:10px;
  margin:15px;
}


#buttons{
    text-decoration: none; 
    color: white; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    text-align: center;
    margin:5px; 
    margin-bottom:20px;  
    width:10%;   
    height:100%;
    font-size:90%;
    transition: ease-out 0.5s;
}

#buttons:hover{
    box-shadow: inset 1000px 0 0 0 lightseagreen;
}

